<!-- fixed top-0 w-full-->
<header
class="w-full z-[1000] dark:text-white  border-b-2 text-white-950 h-[51px] md:h-[65px] flex items-center justify-between "
>
    <div
        class="flex px-1 items-center justify-center min-w-[100px] text-center h-full"
    >
        LEFT
    </div>
    <div class="flex w-full h-full justify-center items-center">
        <div>
            CENTER
        </div>
    </div>
    <div
        class="flex px-1 items-center justify-center min-w-[100px] text-center h-full"
    >
        RIGHT
    </div>
</header>
<script>
    window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("abajo", window.scrollY > 0);
    });
</script>
<style>
    header {
        background: transparent;
    }
    header.abajo {
        background-color: #000;
    }
</style>
