<div class="min-w-[250px]">
    <div class="border-b border-gray-200 dark:border-white mb-4">
        <ul
            class="flex flex-wrap -mb-px"
            id="Tab"
            data-tabs-toggle="#myTabContent"
            role="tablist"
        >
            <li class="mr-2" role="presentation">
                <button
                    class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300 active"
                    id="one-tab"
                    data-tabs-target="#one"
                    type="button"
                    role="tab"
                    aria-controls="one"
                    aria-selected="true">1</button
                >
            </li>
            <li class="mr-2" role="presentation">
                <button
                    class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300"
                    id="two-tab"
                    data-tabs-target="#two"
                    type="button"
                    role="tab"
                    aria-controls="two"
                    aria-selected="false">2</button>
            </li>
        </ul>
    </div>
    <div id="myTabContent">
        <div class="" id="one" role="tabpanel" aria-labelledby="one-tab">
            <div class="flex w-full justify-center items-center">
                <p class="text-white">1</p>
            </div>
        </div>
        <div class="hidden" id="two" role="tabpanel" aria-labelledby="two-tab">
            <div class="flex w-full justify-center items-center">
                <p class="text-white">2</p>
            </div>
        </div>
    </div>
</div>
