---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
    <div class="h-custom--calc md:h-custom-calc flex flex-col md:flex-row items-center justify-center">
        <img src="/404.png" class="w-[300px] h-[200px]" alt="" />
        <div class="flex flex-col justifycenter">
            <h2 class="text-3xl font-sans dark:text-white">
                <b>ERROR 404: <br> an error has occurred.</b>
            </h2>
            <p class="text-lg text-center dark:text-white">For more help <a class="underline" href="/contact"><b>/contact</b></a></p>
        </div>
    </div>
</Layout>
