---

---

<link
    rel="stylesheet"
    href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"
/>
<link
    rel="stylesheet"
    href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
/>
<footer
    class="w-full text-serif flex flex-col justify-between h-[300px] md:h-[250px] text-black dark:text-white bg-gradient-to-b from-white via-white to-white dark:from-black dark:via-black dark:to-black"
>
    <div class="min-h-[150px] flex justify-center">
        <div
            class="text-start lg:text-left max-w-[350px] md:max-w-none lg: lg:min-w-[800px]"
        >
            <div class="w-full py-6">
                <h4 class="text-3xl font-sans">
                    <b>Let's keep in touch!</b>
                </h4>
                <h5 class="text-lg mt-0 mb-2 font-serif">
                    Find me on any of these sites, if you need more you can
                    email me and I will reply.
                </h5>
                <div class="my-4 lg:mb-0">
                    <button
                        class="hover:scale-110 transition-all duration-200 ease-in-out scale-90 hover:bg-kai-200 dark:hover:bg-kai-900 dark:bg-gray-300 bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button"
                    >
                        <a href="https://github.com/degszz" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </button>
                    <button
                        class="hover:scale-110 transition-all duration-200 ease-in-out scale-90 hover:bg-kai-200 dark:hover:bg-kai-900 dark:bg-gray-300 bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button"
                    >
                        <a
                            href="https://www.linkedin.com/in/maximo-figuera-531231323/"
                            target="_blank"
                        >
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </button>
                    <button
                        class="hover:scale-110 transition-all duration-200 ease-in-out scale-90 hover:bg-kai-200 dark:hover:bg-kai-900 dark:bg-gray-300 bg-white text-[#ff0080] shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                        type="button"
                    >
                        <a
                            href="https://www.instagram.com/z3maxi/"
                            target="_blank"
                        >
                            <i class="fab fa-instagram"></i>
                        </a>
                    </button>
                </div>
                <a
                    href="mailto:maxdevelop13@gmail.com"
                >
                    <div
                        class="flex mt-3 group hover:cursor-pointer hover:underline p-1.5 w-fit rounded-md hover:bg-kai-200 dark:hover:bg-kai-900"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-mail"
                            ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                            ></path><path
                                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
                            ></path><path d="M3 7l9 6l9 -6"></path></svg
                        >
                        <span class="ml-1.5 text-md">
                            maxdevelop13@gmail.com
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div
        class="h-[50px] w-full border-t-2 border-kai-950 flex justify-center items-center"
    >
        <p><b>Copyright ©℗™</b></p>
    </div>
</footer>
