---
const Links = [
    {
        name: "Get Start",
        link: "/start",
    },
    {
        name: "Accordion",
        link: "/comps/accordion",
    },
    {
        name: "Button",
        link: "/comps/button",
    },
    {
        name: "Carousel",
        link: "/comps/carousel",
    },
    {
        name: "Drop Down",
        link: "/comps/dropdown",
    },
    {
        name: "Form",
        link: "/comps/form",
    },
    {
        name: "Line Time",
        link: "/comps/linetime",
    },
    {
        name: "Tab",
        link: "/comps/tab",
    },
    {
        name: "Theme Toggle",
        link: "/comps/themetoggle",
    },

];

---

<nav
    class="hidden lg:block h-custom-calc w-[200px] bg-kai-100 lg:border-r-2 dark:bg-kai-bg dark:text-white top-[63px] z-[1000] fixed "
>
    <div class="ml-[25px] flex flex-col justify-between h-full text-start p-2">
        <div >
            <ul class="w-fit">
                <h3 class=""><b>Dashboard</b></h3>
                <li>
                    <a
                        href="/"
                        class="hover:underline text-start btn block py-2 pl-3 rounded md:bg-transparen md:py-1 hover:text-kai-text"
                        aria-current="page"
                    >
                        Home
                    </a>
                </li>
            </ul>
            <ul class="w-fit">
                <h3 class=""><b>Components</b></h3>

                {
                    Links.map((link) => (
                        <li>
                            <a
                                href={link.link}
                                class="hover:underline text-start block py-1 pl-3 dark:text-white dark:hover:text-kai-text rounded md:bg-transparent focus:underline hover:text-kai-text"
                            >
                                {link.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</nav>
