---
const Links = [
    {
        name: "Get Start",
        link: "/start",
    },
    {
        name: "Accordion",
        link: "/comps/accordion",
    },
    {
        name: "Button",
        link: "/comps/button",
    },
    {
        name: "Carousel",
        link: "/comps/carousel",
    },
    {
        name: "Drop Down",
        link: "/comps/dropdown",
    },
    {
        name: "Line Time",
        link: "/comps/linetime",
    },
    {
        name: "Tab",
        link: "/comps/tab",
    },
    {
        name: "Theme Toggle",
        link: "/comps/themetoggle",
    },
];
---

<nav
    class="hidden lg:block h-custom-calc w-[200px] bg-kai-100 lg:border-r-2 dark:bg-kai-bg dark:text-white top-[63px] z-[1000] fixed"
>
    <div class="ml-[13px] flex flex-col justify-between h-full text-start p-2">
        <div>
            <ul class="w-full">
                <h3 class="underline mb-1.5"><b>Dashboard</b></h3>
                <li class="border-l-2 dark:border-white border-black">
                    <a
                        href="/"
                        class="hover:underline text-start block p-1 px-2.5 rounded-md hover:bg-slate-300 dark:hover:bg-kai-900 ml-2 dark:text-white  md:bg-transparent focus:underline "
                        aria-current="page"
                    >
                        <b> Home </b>
                    </a>
                </li>
            </ul>
            <ul class="w-full">
                <h3 class="underline mb-1.5"><b>Components</b></h3>

                {
                    Links.map((link) => (
                        <li class="border-l-2 dark:border-white border-black">
                            <a
                                href={link.link}
                                class="hover:underline text-start block p-1 px-2.5 rounded-md hover:bg-slate-300 dark:hover:bg-kai-900 ml-2 dark:text-white  md:bg-transparent focus:underline "
                            >
                                <b>{link.name}</b>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</nav>
