---
interface Props {
	title: string;
}

import "@fontsource-variable/karla";
import "@fontsource/ibm-plex-sans/700.css";
const { title } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";

import "../components/CopyCodeButton/style.css";
---

<!doctype html>
<html class="dark" lang="en">
	<head>
		<script>
			import "../components/CopyCodeButton/copy-code-button.js";
			import "../components/CopyCodeButton/create-copy-buttons.js";
			if (
				localStorage.theme === "dark" ||
				(!("theme" in localStorage) &&
					window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="">
		<Header />
		<Sidebar />
		<div class="lg:ml-[200px] min-h-dvh bg-gradient-to-b from-kai-100 via-white to-white dark:from-kai-bg dark:via-kai-bg dark:to-black">
			<div class="flex flex-col items-center font-serif">
				<div class="mt-[51px] md:mt-[65px] min-h-[950px]">
					<slot />
				</div>
			</div>
			<Footer />
		</div>
	</body>
</html>
