---
import Layout from "../../layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
export const getStaticPaths = (async () => {
    const comps = await getCollection("comps");
    return comps.map((post) => ({ params: { slug: post.slug }, props: post }));
}) satisfies GetStaticPaths;

import { Code } from "astro:components";
import Button from '../../components/Button.astro'

export const prerender = true;

const {
    body,
    data: { image, title, text, },
} = Astro.props;
---

<Layout title={title}>

    <h1 class="text-white text-2xl">{title}</h1>
    <p class="text-white text-md">{text}</p>
    <Button></Button>
    
    <Code code={body} lang="html" theme="dark-plus"/>
</Layout>
