---
import Layout from "../../layouts/Layout.astro";
import { Code } from "astro:components";
import Caroouusel from "../../components/componentes/Carousel.astro";
---

<link
    rel="stylesheet"
    href="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.min.css"
/>
<Layout title="Carousel">
    <div class="max-w-[350px] md:w-[650px] lg:w-full md:max-w-none mb-[30px]">
        <div class="my-4">
            <h1 class="text-3xl text-black dark:text-white font-sans">
                <b>Carousel</b>
            </h1>
            <div class="flex justify-center items-center md:justify-start">
                <p class="text-md text-black dark:text-white">
                    This is a <b>Carousel</b> to put images, information or components
                    to display in a linear manner.
                </p>
            </div>
        </div>

        <div class="lg:min-w-[800px]">
            <div class="border-b border-gray-200 dark:border-white mb-4">
                <ul
                    class="flex flex-wrap -mb-px"
                    id="myTab"
                    data-tabs-toggle="#myTabContent"
                    role="tablist"
                >
                    <li class="mr-2" role="presentation">
                        <button
                            class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300 active"
                            id="dashboard-tab"
                            data-tabs-target="#dashboard"
                            type="button"
                            role="tab"
                            aria-controls="dashboard"
                            aria-selected="true">Component</button
                        >
                    </li>
                    <li class="mr-2" role="presentation">
                        <button
                            class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300"
                            id="profile-tab"
                            data-tabs-target="#profile"
                            type="button"
                            role="tab"
                            aria-controls="profile"
                            aria-selected="false">Code</button
                        >
                    </li>
                </ul>
            </div>
            <div id="myTabContent">
                <div
                    class="hidden"
                    id="profile"
                    role="tabpanel"
                    aria-labelledby="profile-tab"
                >
                    <div class="flex flex-col justify-center my-6">
                        <Code
                            class="text-sm w-full lg:max-w-[800px] lg:min-w-[800px] p-2 border-2 rounded-md border-kai-ring dark:border-kai-950"
                            code={`export function Carousel() {
    document.addEventListener('DOMContentLoaded', () => {
        const slider = document.querySelector('#slider');
        setTimeout(function moveSlide() {
            const max = slider.scrollWidth - slider.clientWidth;
            const left = slider.clientWidth;

            if (max === slider.scrollLeft) {
                slider.scrollTo({ left: 0, behavior: 'smooth' })
            } else {
                slider.scrollBy({ left, behavior: 'smooth' })
            }

            setTimeout(moveSlide, 2000)
        }, 2000)

    })
    return (
        <>
            <div class="h-[170px] w-full overflow-hidden flex 
            flex-nowrap text-center" id="slider">
                <div class="bg-kai-ring text-white space-y-4
                flex-none w-full flex flex-col items-center justify-center">
                    <h2 class="text-4xl max-w-md underline">
                        <b>#How to use?</b>
                    </h2>
                    <p class="max-w-md">Lorem ipsum dolor sit amet consectetur
                     adipisicing elit. Distinctio deserunt quam repudiandae
                     </p>
                </div>
                <div class="bg-kai-ring text-white space-y-4 flex-none w-full
                flex flex-col items-center justify-center">
                    <h2 class="text-4xl max-w-md underline">
                        <b>#How to use?</b>
                    </h2>
                    <p class="max-w-md">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Distinctio deserunt quam repudiandae
                    </p>
                </div>
                <div class="bg-kai-hover text-white space-y-4 flex-none 
                w-full flex flex-col items-center justify-center">
                    <h2 class="text-4xl max-w-md underline">
                        <b>#</b>
                    </h2>
                    <p class="max-w-md">Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Minus perspiciatis quia in ullam tempore
                    esse exercitationem, soluta ipsa debitis impedit vero cum
                    laborum quidem quasi consectetur amet, at, repudiandae ea!
                    </p>
                </div>
            </div>
        </>
    )
}`}
                            lang="astro"
                            theme="dark-plus"
                        />
                    </div>
                </div>
                <div
                    class=""
                    id="dashboard"
                    role="tabpanel"
                    aria-labelledby="dashboard-tab"
                >
                    <div
                        class="flex max-h-[500px] min-h-[300px] lg:min-w-[800px] flex-col justify-center items-center bg-[#1E1E1E] p-4 rounded-md border-2 border-kai-ring dark:border-kai-950"
                    >
                        <Caroouusel />
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
<script
    src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"
></script>
