---
import Layout from "../../layouts/Layout.astro";
import { Code } from "astro:components";
---


<Layout title="Copy">
    <div class="max-w-[450px] md:w-[650px] lg:w-full md:max-w-none">
        <div class="my-4 ">
            <h1 class="text-3xl text-black dark:text-white font-sans">
                <b>Carousel</b>
            </h1>
            <p class="text-md text-black dark:text-white">
                This is a <b>Carousel</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, adipisci odit, temporibus aspernatur sed nostrum autem esse minus consequatur repudiandae laudantium sunt, necessitatibus nobis mollitia cum eos. Ex, molestiae provident? 
            </p>
        </div>
        
        <!-- component -->
        <div class="flex flex-col justify-center items-center bg-[#1E1E1E] p-4 rounded-md border-2 border-kai-ring dark:border-kai-950">
        </div>
        
        <div class="flex flex-col justify-center my-6">
            <p class="text-md text-black dark:text-white">Code:</p>
            <Code
                class="w-[350px] md:w-full p-2 border-2 rounded-md"
                code={`
                
                `}
                lang="astro"
                theme="dark-plus"
            />
        </div>
    </div>
</Layout>
