---
import Layout from "../../layouts/Layout.astro";
import { Code } from "astro:components";
import Heeader from "../../components/componentes/Header.astro";
---

<Layout title="Header">
    <div class="max-w-[450px] md:w-[650px] lg:w-full md:max-w-none">
        <div class="my-4 ">
            <h1 class="text-3xl text-black dark:text-white font-sans">
                <b>Header</b>
            </h1>
            <div class="flex items-center md:justify-start">
                <p
                    class="text-md text-black dark:text-white"
                >
                    This is the structure of a <b>Header</b> already stylized to
                    put the components on each side.
                </p>
            </div>
        </div>
        <div class="flex flex-col justify-center min-h-[500px] items-center bg-[#1E1E1E] p-4 rounded-md border-2 border-kai-ring dark:border-kai-950">
            <Heeader />
        </div>
        <div class="flex flex-col justify-center my-6">
            <p class="text-md text-black dark:text-white">Code:</p>
            <Code
                class="max-w-[1000px] lg:min-w-[1000px] w-full p-2 border-2 rounded-md border-kai-ring dark:border-kai-950"
                code={`<!-- fixed top-0 w-full-->
    <header
    class="z-[1000] text-white border-b-2
    text-white-950 h-[51px] md:h-[65px] 
    w-[500px] flex items-center justify-between "
    >
        <div
            class="flex px-1 items-center justify-center
             min-w-[100px] text-center h-full"
        >
            LEFT
        </div>
        <div class="flex w-full h-full justify-center items-center">
            <div>
                CENTER
            </div>
        </div>
        <div
            class="flex px-1 items-center justify-center
             min-w-[100px] text-center h-full"
        >
            RIGHT
        </div>
    </header>
    <script>
        window.addEventListener("scroll", function () {
            var header = document.querySelector("header");
            header.classList.toggle("abajo", window.scrollY > 0);
        });
    </script>
    <style>
        header {
            background: transparent;
        }
        header.abajo {
            background-color: #000;
        }
    </style>
    `}
                lang="astro"
                theme="dark-plus"
            />
        </div>
    </div>
</Layout>
