---
import Layout from "../../layouts/Layout.astro";
import { Code } from "astro:components";
import Carousel from "../../components/componentes/Carousel.astro";
---

<Layout title="Carousel-Slider">
    <h1 class="text-white text-2xl">Carousel/Slider</h1>
    <p class="text-white text-md">This is a Carousel/Slider</p>
    <Carousel/>
    <Code
        class="max-w-fit p-2 border-2 rounded-2xl my-4"
        code={`<div class="h-[300px] w-full overflow-hidden flex flex-nowrap text-center" id="slider">
    <div class="bg-blue-600 text-white space-y-4 flex-none w-full flex flex-col items-center justify-center">
        <h2 class="text-4xl max-w-md">#1</h2>
        <p class="max-w-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio deserunt quam repudiandae dolorem neque non, amet nulla incidunt quo porro quisquam numquam in aspernatur, obcaecati suscipit similique? Dolorem, delectus eaque?</p>
    </div>
    <div class="bg-pink-400 text-white space-y-4 flex-none w-full flex flex-col items-center justify-center">
        <h2 class="text-4xl max-w-md">#2</h2>
        <p class="max-w-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio deserunt quam repudiandae dolorem neque non, amet nulla incidunt quo porro quisquam numquam in aspernatur, obcaecati suscipit similique? Dolorem, delectus eaque?</p>
    </div>
    <div class="bg-teal-500 text-white space-y-4 flex-none w-full flex flex-col items-center justify-center">
        <h2 class="text-4xl max-w-md">#3</h2>
        <p class="max-w-md">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus perspiciatis quia in ullam tempore esse exercitationem, soluta ipsa debitis impedit vero cum laborum quidem quasi consectetur amet, at, repudiandae ea!</p>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const slider = document.querySelector('#slider');
    setTimeout(function moveSlide() {
        const max = slider.scrollWidth - slider.clientWidth;
        const left = slider.clientWidth;

        if (max === slider.scrollLeft) {
            slider.scrollTo({left: 0, behavior: 'smooth'})
        } else {
            slider.scrollBy({left, behavior: 'smooth'})
        }

        setTimeout(moveSlide, 2000)
    }, 2000)

})
</script>`}
        lang="astro"
        theme="dark-plus"
    />
</Layout>
