---
import Layout from "../../layouts/Layout.astro";
import { Code } from "astro:components";
import Tabb from "../../components/componentes/Tab.astro";
---

<link
    rel="stylesheet"
    href="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.min.css"
/>
<Layout title="Tab">
    <div class="max-w-[350px] md:w-[650px] lg:w-full md:max-w-none mb-[30px]">
        <div class="my-4">
            <h1 class="text-3xl text-black dark:text-white font-sans">
                <b>Tab</b>
            </h1>
            <div class="flex items-center md:justify-start">
                <p class="text-md text-black dark:text-white">
                    This is a <b>Line Time</b> to show procedures or a set of things that are related.
                </p>
            </div>
        </div>
        <div class="lg:min-w-[800px]">
            <div class="border-b border-gray-200 dark:border-white mb-4">
                <ul
                    class="flex flex-wrap -mb-px"
                    id="myTab"
                    data-tabs-toggle="#myTabContent"
                    role="tablist"
                >
                    <li class="mr-2" role="presentation">
                        <button
                            class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300 active"
                            id="dashboard-tab"
                            data-tabs-target="#dashboard"
                            type="button"
                            role="tab"
                            aria-controls="dashboard"
                            aria-selected="true">Component</button
                        >
                    </li>
                    <li class="mr-2" role="presentation">
                        <button
                            class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300"
                            id="profile-tab"
                            data-tabs-target="#profile"
                            type="button"
                            role="tab"
                            aria-controls="profile"
                            aria-selected="false">Code</button
                        >
                    </li>
                </ul>
            </div>
            <div id="myTabContent">
                <div
                    class="hidden"
                    id="profile"
                    role="tabpanel"
                    aria-labelledby="profile-tab"
                >
                    <div class="flex flex-col justify-center my-6">
                        <Code
                            class="text-sm w-full lg:max-w-[800px] lg:min-w-[800px] p-2 border-2 rounded-md border-kai-ring dark:border-kai-950"
                            code={`<div class="min-w-[250px]">
    <div class="border-b border-gray-200 dark:border-white mb-4">
        <ul
            class="flex flex-wrap -mb-px"
            id="Tab"
            data-tabs-toggle="#myTabContent"
            role="tablist"
        >
            <li class="mr-2" role="presentation">
                <button
                    class="inline-block text-gray-500 
                    hover:text-gray-600
                    hover:border-gray-300 rounded-t-lg py-4 
                    px-4 text-sm
                    font-medium text-center border-transparent 
                    border-b-2
                    dark:text-gray-400 
                    dark:hover:text-gray-300 active"
                    id="one-tab"
                    data-tabs-target="#one"
                    type="button"
                    role="tab"
                    aria-controls="one"
                    aria-selected="true">1</button>
            </li>
            <li class="mr-2" role="presentation">
                <button
                    class="inline-block text-gray-500 
                    hover:text-gray-600
                    hover:border-gray-300 rounded-t-lg py-4 
                    px-4 text-sm
                    font-medium text-center border-transparent 
                    border-b-2
                    dark:text-gray-400 
                    dark:hover:text-gray-300"
                    id="two-tab"
                    data-tabs-target="#two"
                    type="button"
                    role="tab"
                    aria-controls="two"
                    aria-selected="false">2</button>
            </li>
        </ul>
    </div>
    <div id="myTabContent">
        <div class="" id="one" 
        role="tabpanel" 
        aria-labelledby="one-tab">
            <div class="flex w-full 
            justify-center items-center">
                <p class="text-white">1</p>
            </div>
        </div>
        <div 
        class="hidden" id="two" role="tabpanel" 
        aria-labelledby="two-tab">
            <div class="flex w-full 
            justify-center items-center">
                <p class="text-white">2</p>
            </div>
        </div>
    </div>
</div>
`}
                            lang="astro"
                            theme="dark-plus"
                        />
                    </div>
                </div>
                <div
                    class=""
                    id="dashboard"
                    role="tabpanel"
                    aria-labelledby="dashboard-tab"
                >
                    <div
                        class="flex max-h-[500px] min-h-[300px] lg:min-w-[800px] flex-col justify-center items-center bg-[#1E1E1E] p-4 rounded-md border-2 border-kai-ring dark:border-kai-950"
                    >
                    <Tabb/>
                </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
<script
    src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"
></script>